<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giamp.fichasvers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/index_cards"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectFichas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewFicha" />
        <activity android:name=".NewFichaEdit"></activity>
    </application>

</manifest>